<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket Plus">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracketplus">
    <meta property="og:title" content="Bracket Plus">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Bracket Plus Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="../lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/css/jquery.switchButton.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="../css/bracket.css">
  </head>

  <body class="pos-relative" data-spy="scroll" data-target="#navbarMain" data-offset="2">

    <div id="headPanel" class="headpanel">
      <div class="container">
        <a href="index.html" class="logo">bracket <span>plus</span></a>
        <ul id="navbarMain" class="nav mg-lg-l-40 tx-mont tx-uppercase tx-12 tx-spacing-1 tx-semibold">
          <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#demo" class="nav-link">Demo</a></li>
          <li class="nav-item"><a href="#whats" class="nav-link">What's Inside</a></li>
          <li class="nav-item"><a href="#pricing" class="nav-link">Pricing</a></li>
          <li class="nav-item"><a href="#support" class="nav-link">Support</a></li>
        </ul>
        <div class="d-flex align-items-center mg-l-auto">
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracketplus/intro" target="_blank" class="tx-gray-500 tx-16 hover-primary hidden-md-down"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/home?status=Bracket%20Plus,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracketplus/intro" target="_blank" class="tx-gray-500 tx-16 hover-info mg-l-10 hidden-md-down"><i class="fab fa-twitter"></i></a>
          <a id="showMenu" href="" class="tx-24 tx-gray-600 hover-info hidden-lg-up"><i class="icon ion-navicon-round"></i></a>
        </div>
      </div><!-- container -->
    </div>

    <div id="home" class="br-home-header">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-5 col-xl-4 d-lg-flex align-items-center">
            <div>
              <img src="../img/logo.png" class="mg-b-20 mg-lg-b-30" alt="">
              <h5 class="tx-sm-32 tx-light tx-gray-700">Do bigger things with</h5>
              <h2 class="tx-sm-48 tx-bold tx-inverse">bracket <span class="tx-normal tx-info">plus</span></h2>
              <h6 class="tx-14 tx-sm-16 lh-5 tx-normal mg-b-20 mg-sm-b-40">The Responsive Bootstrap 4 Dashboard Template</h6>

              <div class="d-flex align-items-center">
                <a href="../template/" target="_blank" class="btn btn-outline-info btn-oblong bd-2 pd-x-25">
                  <span class="tx-uppercase tx-11 tx-mont tx-semibold tx-spacing-1">View Main Demo</span>
                </a>
                <div class="d-flex align-items-center mg-l-10 mg-sm-l-20">
                  <div class="wd-10 wd-sm-20 ht-1 bg-info mg-r-10 mg-sm-r-20"></div>
                  <a href="https://themeforest.net/item/bracket-plus-responsive-admin-dashboard-template/20919056" class="tx-info tx-uppercase tx-mont tx-12">Purchase - $20</a>
                </div>
              </div><!-- d-flex -->
            </div>
          </div><!-- col -->
          <div class="col-lg-7 col-xl-8 mg-t-20 mg-lg-t-0">
            <img src="http://themepixels.me/bracketplus/1.4/app/img/screen.png" class="img-fluid mg-sm-b-20 mg-lg-b-0" alt="">
          </div><!-- col -->
        </div>
      </div>
    </div><!-- d-flex -->

    <div class="bg-br-primary pos-relative">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <img src="../img/screen14.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-5 d-flex align-items-center mg-t-40">
            <div class="pd-lg-l-15 pd-xl-l-40 pd-b-40">
              <h6 class="tx-14 tx-info tx-uppercase tx-mont tx-semibold tx-spacing-2 mg-b-30">Why Bracket Plus?</h6>
              <p class="tx-sm-16">When it comes to dashboard or web apps, one of the first impression you consider is the design. It needs to be high quality enough otherwise you will lose potential users due to bad design.</p>
              <p class="tx-sm-16 mg-b-0">When your dashboard or app is attractive to use, your users will not simply be using it, they’ll look forward to using it. This means that you should fashion the look and feel of your interface for your users.</p>
            </div>
          </div><!-- col-5 -->
        </div><!-- row -->
      </div><!-- container -->
    </div>

    <div class="pos-relative">
      <div id="demo" class="br-holder"></div>
      <div class="container tx-center pd-y-50 pd-lg-y-100">
        <h4 class="tx-md-40 tx-inverse mg-b-30">Template Demo</h4>
        <p class="tx-sm-16 mg-x-auto wd-lg-80p">Responsive dashboard design is the approach that suggests that design and development should respond to the user’s behavior and environment based on screen size, platform and orientation. This would eliminate the need for a different design and development phase for each new gadget on the market.</p>

        <div class="row mg-t-50 mg-lg-t-100 br-demo">
          <div class="col-sm-6">
            <figure>
              <img src="../img/screen12.png" class="bd bd-gray-200 img-fluid" alt="">
              <figcaption>
                <a href="../app" target="_blank" class="btn btn-info">View Demo</a>
              </figcaption>
            </figure>
            <h6 class="tx-inverse tx-uppercase tx-12 tx-lg-14 tx-mont tx-semibold tx-spacing-1 mg-t-30 mg-b-0">Layout Demo: Default</h6>
          </div><!-- col-6 -->
          <div class="col-sm-6 mg-t-30 mg-sm-t-0">
            <figure class="bg-white shadow-base rounded pd-15">
              <img src="../img/screen15.png" class="bd bd-gray-200 img-fluid" alt="">
              <figcaption>
                <a href="../rtl" target="_blank" class="btn btn-info">View Demo</a>
              </figcaption>
            </figure>
            <h6 class="tx-inverse tx-uppercase tx-12 tx-lg-14 tx-mont tx-semibold tx-spacing-1 mg-t-30 mg-b-0">Layout Demo: Full RTL</h6>
          </div><!-- col-6 -->
          <div class="col-sm-6 mg-t-30 mg-lg-t-60">
            <figure class="bg-white shadow-base rounded pd-15">
              <img src="../img/screen11.png" class="img-fluid" alt="">
              <figcaption>
                <a href="../app-simple-white/index.html" target="_blank" class="btn btn-info">View Demo</a>
              </figcaption>
            </figure>
            <h6 class="tx-inverse tx-uppercase tx-12 tx-lg-14 tx-mont tx-semibold tx-spacing-1 mg-t-30 mg-b-0">Template Skin: Simple White</h6>
          </div><!-- col-6 -->
          <div class="col-sm-6 mg-t-30 mg-lg-t-60">
            <figure class="bg-white shadow-base rounded pd-15">
              <img src="../img/screen27.png" class="img-fluid" alt="">
              <figcaption>
                <a href="../rtl-simple-white/index.html" target="_blank" class="btn btn-info">View Demo</a>
              </figcaption>
            </figure>
            <h6 class="tx-inverse tx-uppercase tx-12 tx-lg-14 tx-mont tx-semibold tx-spacing-1 mg-t-30 mg-b-0">RTL Skin: Simple White</h6>
          </div><!-- col-6 -->
          <div class="col-sm-6 mg-t-30 mg-lg-t-60">
            <figure class="bg-white shadow-base rounded pd-15">
              <img src="../img/screen22.png" class="img-fluid" alt="">
              <figcaption>
                <a href="../app-oreo/index.html" target="_blank" class="btn btn-info">View Demo</a>
              </figcaption>
            </figure>
            <h6 class="tx-inverse tx-uppercase tx-12 tx-lg-14 tx-mont tx-semibold tx-spacing-1 mg-t-30 mg-b-0">Template Skin: Oreo</h6>
          </div><!-- col-6 -->
          <div class="col-sm-6 mg-t-30 mg-lg-t-60">
            <figure class="bg-white shadow-base rounded pd-15">
              <img src="../img/screen31.png" class="img-fluid" alt="">
              <figcaption>
                <a href="../rtl-oreo/index.html" target="_blank" class="btn btn-info">View Demo</a>
              </figcaption>
            </figure>
            <h6 class="tx-inverse tx-uppercase tx-12 tx-lg-14 tx-mont tx-semibold tx-spacing-1 mg-t-30 mg-b-0">RTL Skin: Oreo</h6>
          </div><!-- col-6 -->
          <div class="col-sm-6 mg-t-30 mg-lg-t-60">
            <figure class="bg-white shadow-base rounded pd-15">
              <img src="../img/screen29.png" class="img-fluid" alt="">
              <figcaption>
                <a href="../app-dark/index.html" target="_blank" class="btn btn-info">View Demo</a>
              </figcaption>
            </figure>
            <h6 class="tx-inverse tx-uppercase tx-12 tx-lg-14 tx-mont tx-semibold tx-spacing-1 mg-t-30 mg-b-0">Template Skin: Dark</h6>
          </div><!-- col-6 -->
          <div class="col-sm-6 mg-t-30 mg-lg-t-60">
            <figure class="bg-white shadow-base rounded pd-15">
              <img src="../img/screen30.png" class="img-fluid" alt="">
              <figcaption>
                <a href="../rtl-dark/index.html" target="_blank" class="btn btn-info">View Demo</a>
              </figcaption>
            </figure>
            <h6 class="tx-inverse tx-uppercase tx-12 tx-lg-14 tx-mont tx-semibold tx-spacing-1 mg-t-30 mg-b-0">RTL Skin: Dark</h6>
          </div><!-- col-6 -->
          <div class="col-sm-6 mg-t-30 mg-lg-t-60">
            <figure class="bg-white shadow-base rounded pd-15">
              <img src="../img/screen16.png" class="img-fluid" alt="">
            </figure>
            <h6 class="tx-inverse tx-uppercase tx-12 tx-lg-14 tx-mont tx-semibold tx-spacing-1 mg-t-30 mg-b-0">More Demo Coming Soon</h6>
          </div><!-- col-6 -->
        </div><!-- row -->
      </div><!-- container -->
    </div>

    <div class="bg-info pos-relative">
      <div id="whats" class="br-holder"></div>
      <div class="container pd-y-50 pd-lg-y-100">
        <div class="tx-center mg-b-50 mg-lg-b-100">
          <h4 class="tx-md-40 tx-white mg-b-30">What's Inside?</h4>
          <p class="tx-white-7 tx-sm-16 wd-lg-80p mg-l-auto mg-r-auto mg-b-0">A well-designed smart dashboard can save a lot of time and help quickly identify information that matters in order to make proper reports like avoiding clutter, highlighting important info and prioritizing metrics.</p>
        </div>

        <div class="row tx-white mg-b-40 mg-lg-b-80">
          <div class="col-sm-6 col-lg-4">
            <div class="media">
              <img src="../img/img51.jpg" class="wd-50 op-8" alt="">
              <div class="media-body mg-l-20">
                <h6 class="tx-normal mg-b-15">Bootstrap 4</h6>
                <p class="op-7">Built using bootstrap, the world's most popular front-end component library.</p>
              </div><!-- media-body -->
            </div><!-- media -->
          </div><!-- col-4 -->
          <div class="col-sm-6 col-lg-4 mg-t-30 mg-sm-t-0">
            <div class="media">
              <i class="icon ion-laptop tx-50 lh-0 op-5 mg-t--7"></i>
              <div class="media-body mg-l-20">
                <h6 class="tx-normal mg-b-15">Fully Responsive</h6>
                <p class="op-7">We made it to fit on any screens from mobile to desktop.</p>
              </div><!-- media-body -->
            </div><!-- media -->
          </div><!-- col-4 -->
          <div class="col-sm-6 col-lg-4 mg-t-30 mg-lg-t-0">
            <div class="media">
              <img src="../img/img52.jpg" class="wd-50" alt="">
              <div class="media-body mg-l-20">
                <h6 class="tx-normal mg-b-15">Based on Sass</h6>
                <p class="op-7">All styles are written with SCSS for easy customization and well organized.</p>
              </div><!-- media-body -->
            </div><!-- media -->
          </div><!-- col-4 -->
          <div class="col-sm-6 col-lg-4 mg-t-30 mg-lg-t-40">
            <div class="media">
              <div class="wd-50 tx-center"><i class="icon ion-compose tx-50 lh-0 op-5 mg-t--7"></i></div>
              <div class="media-body mg-l-20">
                <h6 class="tx-normal mg-b-15">Powerful Components</h6>
                <p class="op-7">A large collection of components to power up your dashboard or apps.</p>
              </div><!-- media-body -->
            </div><!-- media -->
          </div><!-- col-4 -->
          <div class="col-sm-6 col-lg-4 mg-t-30 mg-lg-t-40">
            <div class="media">
              <div class="wd-50 tx-center"><i class="icon ion-trophy tx-50 lh-0 op-5 mg-t--7"></i></div>
              <div class="media-body mg-l-20">
                <h6 class="tx-normal mg-b-15">Continuos Updates</h6>
                <p class="op-7">New demos and features will be added for a lifetime.</p>
              </div><!-- media-body -->
            </div><!-- media -->
          </div><!-- col-4 -->
          <div class="col-sm-6 col-lg-4 mg-t-30 mg-lg-t-40">
            <div class="media">
              <div class="wd-50 tx-center"><i class="icon ion-help-buoy tx-50 lh-0 op-5 mg-t--7"></i></div>
              <div class="media-body mg-l-20">
                <h6 class="tx-normal mg-b-15">Guaranteed Support</h6>
                <p class="op-7">We are here to respond to your concerns as much as we can.</p>
              </div><!-- media-body -->
            </div><!-- media -->
          </div><!-- col-4 -->
        </div><!-- row -->

        <div class="tx-center">
          <h6 class="tx-normal tx-white lh-5 mg-b-30">To see the full list of features, visit the sitemap page of this template.</h6>
          <a href="../app/sitemap.html" target="_blank" class="btn btn-outline-white btn-oblong">
            <span class="tx-uppercase tx-11 tx-mont tx-semibold tx-spacing-1">View The Sitemap</span>
          </a>
        </div>
      </div><!-- container -->
    </div><!-- bg-white -->

    <div class="bg-br-primary pos-relative">
      <div id="pricing" class="br-holder"></div>
      <div class="container pd-y-50 pd-lg-y-100">
        <div class="tx-center mg-b-50 mg-lg-b-100">
          <h4 class="tx-md-40 tx-white mg-b-20">Pricing</h4>
          <p class="tx-sm-16">Choose a price that's right for your project.</p>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-8 col-lg-5">
            <div class="bg-white rounded pd-30 pd-lg-60">
              <h5 class="tx-inverse mg-b-20">Regular License</h5>
              <p class="lh-9">Use, by you or one client, in a single end product which end users <strong><u>are not</u></strong> charged for. The total price includes the item price and a buyer fee.</p>
              <ul class="list-unstyled mg-b-0 lh-9">
                <li><i class="fa fa-check tx-success mg-r-5"></i> Quality checked by Envato</li>
                <li><i class="fa fa-check tx-success mg-r-5"></i> Future updates</li>
                <li><i class="fa fa-check tx-success mg-r-5"></i> 6 months support from us</li>
              </ul>
              <ul class="list-unstyled mg-l-25 mg-t-5 lh-9">
                <li>- Availability of the author to answer questions</li>
                <li>- Get assistance with reported bugs and issues</li>
                <li>- Help with included 3rd party assets</li>
              </ul>
              <h1 class="display-4 mg-t-30 mg-b-5 tx-inverse tx-lato tx-normal">$20</h1>
              <span class="tx-12">Price is in US dollars.</span>

              <div class="mg-t-40">
                <a href="https://themeforest.net/item/bracket-plus-responsive-admin-dashboard-template/20919056" class="btn btn-info btn-block tx-11 tx-mont tx-uppercase tx-semibold tx-spacing-2 pd-y-15">Purchase Template</a>
              </div>
            </div>
          </div><!-- col-5 -->
          <div class="col-sm-8 col-lg-5 mg-t-15 mg-sm-t-30 mg-lg-t-0">
            <div class="bg-white rounded pd-30 pd-lg-60">
              <h5 class="tx-inverse mg-b-20">Extended License</h5>
              <p class="lh-9">Use, by you or one client, in a single end product which end users <strong><u>can be</u></strong> charged for. The total price includes the item price and a buyer fee.</p>
              <ul class="list-unstyled mg-b-0 lh-9">
                <li><i class="fa fa-check tx-success mg-r-5"></i> Quality checked by Envato</li>
                <li><i class="fa fa-check tx-success mg-r-5"></i> Future updates</li>
                <li><i class="fa fa-check tx-success mg-r-5"></i> 6 months support from us</li>
              </ul>
              <ul class="list-unstyled mg-l-25 mg-t-5 lh-9">
                <li>- Availability of the author to answer questions</li>
                <li>- Get assistance with reported bugs and issues</li>
                <li>- Help with included 3rd party assets</li>
              </ul>
              <h1 class="display-4 mg-t-30 mg-b-5 tx-inverse tx-lato tx-normal">$799</h1>
              <span class="tx-12">Price is in US dollars.</span>

              <div class="mg-t-40">
                <a href="https://themeforest.net/item/bracket-plus-responsive-admin-dashboard-template/20919056" class="btn btn-info btn-block tx-11 tx-mont tx-uppercase tx-semibold tx-spacing-2 pd-y-15">Purchase Template</a>
              </div>
            </div>
          </div><!-- col-5 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- pd-y-100 -->

    <div class="bg-white pos-relative">
      <div id="support" class="br-holder"></div>
      <div class="container pd-y-50 pd-lg-y-100">
        <div class="tx-center mg-b-50 mg-lg-b-100">
          <h4 class="tx-md-40 tx-inverse mg-b-20">Customer Support</h4>
          <p class="tx-sm-16">We are here to respond to your concerns as much as we can.</p>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <p class="mg-b-20">You can talk to us for support by sending a direct message to the following: </p>
            <ul class="list-unstyled lh-10">
              <li><i class="fab fa-twitter tx-20 wd-20 tx-center mg-r-10 tx-gray-700"></i> themepixels</li>
              <li><i class="fab fa-facebook tx-20 wd-20 tx-center mg-r-10 tx-gray-700"></i> themepixels</li>
              <li><i class="fab fa-skype tx-20 wd-20 tx-center mg-r-10 tx-gray-700"></i> themepixels</li>
            </ul>
            <p>You can also take a look and submit a request <a href="https://themeforest.net/item/bracket-plus-responsive-admin-dashboard-template/20919056/comments" class="tx-info">here</a>.</p>
          </div><!-- col-4 -->
          <div class="col-lg-8">
            ...or you can fill up the form below to request for help.

            <div id="msgSuccess" class="alert alert-success bd-0 mg-t-25 d-none">Your help request was sent successfully!</div>
            <form id="helpRequestForm" method="post" action="help-process.php" data-parsley-validate>
              <div class="row row-sm mg-t-30 mg-b-20">
                <div class="col-sm-6">
                  <input type="text" id="fullname" name="fullname" class="form-control pd-y-12" placeholder="Enter your fullname*" required>
                </div><!-- col-6 -->
                <div class="col-sm-6 mg-t-20 mg-sm-t-0">
                  <input type="email" id="email" name="email" class="form-control pd-y-12" placeholder="Enter your email address*" required>
                </div><!-- col-6 -->
              </div><!-- row -->
              <div class="form-group mg-b-20">
                <input type="text" id="topic" name="topic" class="form-control pd-y-12" placeholder="Set a topic*" required>
              </div><!-- form-group -->
              <div class="form-group mg-b-20">
                <textarea id="message" name="message" class="form-control" rows="5" placeholder="Enter some details*" required></textarea>
              </div><!-- form-group -->
              <button type="submit" class="btn btn-info bd-0 tx-uppercase tx-11 tx-mont tx-spacing-2 tx-semibold pd-y-15 pd-x-25">Submit Request</button>
            </form>
          </div><!-- col-8 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- pd-y-100 -->

    <div class="br-foot">
      <div class="container">
        <span>Copyright 2017. Bracket Plus. All Rights Reserved.</span>
        <div class="mg-t-10 mg-sm-t-0">
          Design and developed by: <a href="http://themepixels.me" class="tx-white-8 hover-info">ThemePixels</a>
          <span class="social">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fa fa-dribbble"></i></a>
            <a href=""><i class="fa fa-github"></i></a>
            <a href=""><i class="fab fa-skype"></i></a>
          </span>
        </div>
      </div><!-- container -->
    </div>


    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/jquery-ui/ui/widgets/datepicker.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/parsleyjs/parsley.min.js"></script>
    <script>
      $(function(){
        'use strict';

        function checkScroll() {
          if($(document).scrollTop() > 80) {
            $('#headPanel').addClass('scroll');
          } else {
            $('#headPanel').removeClass('scroll');
          }
        }

        // sticky header effect
        checkScroll();
        $(window).scroll(function() {
          checkScroll();
        });

        // animated smooth scroll on target from top menu
        $('#navbarMain .nav-link').on('click', function(e){

          $('#navbarMain').addClass('hidden-md-down');

          var target = $(this).attr('href');
          $('html, body').animate({
            scrollTop: $(''+target).offset().top
          }, 500);

          e.preventDefault();
        });


        // customer support form submission
        $('#helpRequestForm').on('submit', function(e){
          e.preventDefault();

          // Initiate Variables With Form Content
          var fullname = $('#fullname').val();
          var email = $('#email').val();
          var topic = $('#topic').val();
          var message = $('#message').val();
          var action = $(this).attr('action');

          $.ajax({
            type: 'POST',
            url: action,
            data: 'fullname=' + fullname + '&email=' + email + '&topic=' + topic + '&message=' + message,
            success : function(state){
              if (state == 'success'){
                $('#msgSuccess').removeClass('d-none');
              }
            }
          });
        });

        $('#showMenu').on('click', function(e){
          e.preventDefault();
          $('#navbarMain').toggleClass('hidden-md-down');
        });


      });
    </script>
  </body>
  </html>
